body{
	letter-spacing: 1.5px;
	font-family: 'Roboto Slab', serif;
	background: #fafafa;
}

ul{
	list-style-type:none;
}

h1 {
	color: black;
	font-size: 3rem;
}

.col-right h2{
	border-bottom: 2px solid ;
}

h2, h3, h6{
	color: #07689f;
}

li, p{
	color: #07689f;
}

.bio{
	margin: 20px auto;
}

.bio img{
	width: 40%;
	display: block;
	margin:	0 auto;
	border-radius: 50%;
}

.col-left{
	position: fixed;
	top: 0;
	background:#ff7e67;
	float: left;
	width: 	25%;
	height: 100%;
	margin:-8px;	
}

.col-right{
	float: right;
    width: 67%;
    background: #fafafa;
    margin-left: 8px;
    margin-top: -9px;
    margin-right: 5px;
    padding: 46px;
}

.surname {
	color: #ff7e67;
}

.bloque{
	padding: 10px 30px; 
	margin: 20px;
}

.portfolio img{
	width: 20%;
}

.bio a{
	text-decoration: none;
	font-size: 30px;
	color: #07689f;
}

.bio li{
	padding: 10px;
	margin-bottom: 10px;
	width: 80%;
}

.bloque li{
	padding-bottom: 5px;
	padding-top: 5px;
}

.conocimientos li {
	border: solid 2px;
	border-radius: 15px;
	text-align: center;
}

.conocimientos ul {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(4, 120px);
}

.fab fa-html5 {
	size: 5x;
}

.icon {
	padding-right: 45px;
}

@media only screen and (max-width: 1129px) {
	.col-left {
		display: block;
	}
	.col-right {
		width: 58%;
	}
}

@media only screen and (max-width: 800px) {
	.col-left {
		display: none;
	}
	
	.col-right {
		width: 50%;
	}
}